# ignore all
*

!.gitignore
!.dockerignore
!Dockerfile
!.env.example
!LICENSE
!DISCLAIMER.md
!requirements.txt
!README.md

!img/
!img/bp_logo.jpg
!img/bitrixprobe-pipeline.gif
!img/restore_exmpl.gif
!img/pmodules_exmpl.gif
!img/amodules_exmpl.gif
!img/audit_vuln_exmpl.gif

!reports/
!reports/.gitkeep

!bitrixprobe/
!bitrixprobe/db/
!bitrixprobe/db/db.sqlite
!bitrixprobe/__main__.py
!bitrixprobe/cli.py
!bitrixprobe/config.py
!bitrixprobe/console.py
!bitrixprobe/modes/
!bitrixprobe/modes/audit.py
!bitrixprobe/modes/pentest.py

!bitrixprobe/modules/
!bitrixprobe/modules/db_connect.py
!bitrixprobe/modules/out_report.py
!bitrixprobe/modules/sanitise_filename.py
!bitrixprobe/modules/ssh_client.py
!bitrixprobe/modules/www_client.py
!bitrixprobe/modules/audit_checks/
!bitrixprobe/modules/audit_checks/__init__.py
!bitrixprobe/modules/audit_checks/check_bitrix_restore.py
!bitrixprobe/modules/audit_checks/check_bitrix_setup.py
!bitrixprobe/modules/audit_checks/check_bitrix_vulnerabilities.py
!bitrixprobe/modules/audit_checks/detect_apache.py
!bitrixprobe/modules/audit_checks/detect_bitrix.py
!bitrixprobe/modules/audit_checks/detect_nginx.py
!bitrixprobe/modules/audit_checks/enum_apache_config.py
!bitrixprobe/modules/audit_checks/enum_nginx_config.py
!bitrixprobe/modules/audit_checks/enum_php.py
!bitrixprobe/modules/audit_checks/enum_docker.py
!bitrixprobe/modules/audit_checks/enum_remote_identity.py
!bitrixprobe/modules/audit_checks/enum_webroot_files.py
!bitrixprobe/modules/pentest_checks/
!bitrixprobe/modules/pentest_checks/__init__.py
!bitrixprobe/modules/pentest_checks/check_bitrix_bdu_2024_01501.py
!bitrixprobe/modules/pentest_checks/check_bitrix_restore.py
!bitrixprobe/modules/pentest_checks/check_bitrix_setup.py
!bitrixprobe/modules/pentest_checks/check_main_bdu_2026_04276.py
!bitrixprobe/modules/pentest_checks/check_vote_cve_2022_27228.py
!bitrixprobe/modules/pentest_checks/detect_bitrix_admin_login.py
!bitrixprobe/modules/pentest_checks/detect_bitrix_cms.py
!bitrixprobe/modules/pentest_checks/detect_bitrix_modules.py
!bitrixprobe/modules/pentest_checks/detect_sensitive_files.py
!bitrixprobe/modules/pentest_checks/http_traceroute.py
!bitrixprobe/modules/pentest_checks/webservice_enum.py

!bitrixprobe/wordlists/
!bitrixprobe/wordlists/bitrix_modules.txt
!bitrixprobe/wordlists/bitrix_sensitive_files.txt
!bitrixprobe/wordlists/module_endpoint_only_installed.txt
!bitrixprobe/wordlists/module_endpoints.txt
